html{
    scroll-behavior: smooth;
}
body{
    background-color:$dark;
    color:$white;
}

.navbar{
    border-bottom: $primary 3px solid;
    //saydamlık için opacity
    opacity: 0.8; 
}
#home{
    background-image:url(../img/background-2.jpg); 
    //resim sığmazsa tekrarlamaması için
    background-repeat: no-repeat; 
    //kaplaması için cover
    background-size:cover;
    //sabit kalması için
    background-attachment:fixed;
    background-position: 50%;
    min-height: 700px;

    .img-overlay{
        position:absolute;
        top:0;
        left:0;
        min-height: 700px;
        width: 100%;
        //alfa değeri saydamlık verir tabakaya
        background:rgba($color: #000000, $alpha: 0.8)


    }

    .home-inner{
        padding-top:150px;
    }
    

}